/* Container needs relative positioning so absolute children align relative to it */
.circle-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.circle-item {
  position: absolute;
  /* This centers the item directly on the (x, y) coordinates */
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle-item.clickable {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.field.clickable:hover {
  transform: translate(-50%, -50%) scale(1.1);
}


.circle-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* Language selector layout */
.language-switch-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom : 50px;
}

.language-button {
  cursor: pointer;
  padding: 10px 10px;
  border: 1px solid #3f2323;
  border-radius: 50%;
}

.language-button.active {
  background-color: #d8d8e2;
  color: rgb(139, 130, 194);
}


.content-section {
  margin-top:68%;
}
.cards-feed {
margin-top : 2%;
}